@import"base.scss";

@media (min-width: 1001px){
                  .apresentacao{
                    background-image: url(../../imagens/fundaoMain.jpg);
                    height: 1120px;
                    background-size: cover;
                    background-position: center;
                      main{
                                  background-color: #49494996;
                                  position: relative;
                                  top: 104px;
                                  height: 200px;
                                  width: 100%;
                                  text-align: center;
                                  color: white;
                                  padding-top: 48px;
                                  min-height: 279px;


                                  h1{
                                      font-size: 5vw;
                                      text-transform: capitalize;
                                    }


                                 h2{
                                   font-size: 3vw;
                                   text-transform: capitalize;
                                   }

                        }
                      section{

                            position: absolute;
                            display: flex;
                            bottom: -0px;
                            width: 99.888%;
                            border-bottom: 10px solid #2b2b2b;
                                    img{
                                      position:relative;
                                      position: absolute;
                                      bottom:0;
                                      left: 9px;
                                      height: 74vh;
                                    }

                                    div:first-child{
                                      min-width:22%;
                                    }

                                  .texto{
                                    width: 649px;
                                    text-align: justify;
                                    padding-top: 20px;
                                     h2{
                                         margin-bottom: 36px;
                                       }
                                  }

                                  /*.texto:not(h2){
                                    column-count: 1;
                                  }*/


                        .form{
                                  position: relative;
                                  margin-left: 48px;
                                  padding-top: 26px;
                                  transform: translateY(-52px);
                                h2{
                                  font-size: 30px;
                                  color:#909090;
                                  padding-bottom:35px;
                                }
                        }


                              input{
                                width:333px;
                                border:2px solid #BABABA;
                                display: block;
                                margin-bottom: 17px;
                                height: 48px;
                                border-radius: 10px;
                                padding-left: 18px;
                                font-size: $font-desk1;
                              }
                      }
                  }
}







@media only screen and (min-device-width:1901px) and (max-device-width: 2500px){}
@media only screen and (min-device-width:1200px) and (max-device-width: 1900px){}
@media only screen and (min-device-width:992px) and (max-device-width: 1199px){}
@media only screen and (min-device-width:768px) and (max-device-width: 991px){}
@media only screen and (min-device-width:0px) and (max-device-width: 767px){
  $backgroundColor:#ffffff63;
  .apresentacao{
          background-image: url(../../imagens/fundaoMain.jpg);
          border: 0px solid red;
          height: auto;
          min-height: 243px;
          background-attachment: scroll;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: auto;
            h1,h2,h3{ @include TituloMobile(); }
              main{
                   display: block;
                    /* border: 1px solid red;
                    background-color: #8a838394;*/
                    height: 11vh;
                    overflow: hidden;
                    padding: 1vh;
                    background-color: $backgroundColor;
              }
              section{
                      border:0px solid red;
                            div:nth-child(1){
                                 display: none;
                              }
                    }
                    .texto,.form{
                      @include TextosMobile();
                      @include FormMobile(#ff8d00,2.5vh);
                      background-color: #ffffff63;
                          padding: 0px 5.8vw 0 5.8vw;
                    }

  }

}
