$mobile: 768px;
$desktop: 1200px;
/***********até 1000 pixels****************/
$font-mobile:3.3vw;
$font-h1Mobile:7vw;
$corTitulo-Mobile:grey;
/***********entre 1366 e 1900 pixels****************/
$font-desk1:1.2vw;
$font-desk1-h1:7vw;
$corTitulo-Desk1:grey;
/***************************************************/
//$base1: @media only screen and (min-device-width:0px) and (max-device-width: 767px);
/***************************************************/
@mixin LinkMenuMobile(){
  color: white;
  text-decoration: none;
}


@mixin Padding($padding:3vw){
  padding: $padding;
}


@mixin TituloMobile($color:#484848,$fontSize:7vw) {
  text-align: center;
  display: block;
  font-size: $fontSize;
  margin: 0;
  color: $color;
  line-height:6vh;
  text-transform: capitalize;
}


@mixin TextosMobile(
                   $font-size:4.5vw,
                   $corDoTexto:#2f2f2f,
                   $lineHeight:5vh
                   )
{
      padding: 1px 16px 1px 18px;
      font-size: $font-size;
      text-align: justify;
      color: $corDoTexto;
      margin: 0 !important;
      line-height: $lineHeight;
}


@mixin FormMobile(
                     $corDoBotao:grey,
                     $tamanhoFonte:6.9vw,
                     $corDaBorda:$corDoBotao,
                     $borderRadius:6px,
                     $corDoSubmit:$corDoBotao,
                 )
            {
              form{
                   h1,h2,h3,h4{
                            text-align: center;
                            display: block;
                            font-size: 7vw;
                            margin: 0;
                            color: $corDoBotao;
                            line-height: 6vh;
                            margin-bottom: 12px;
                         }

                    input{
                         width: 100%;
                          margin-bottom: 1.7vh;
                          height: 11vw;
                          border-radius: $borderRadius;
                          border: 1px solid $corDoBotao;
                          padding-left: 2vw;
                          font-size: $tamanhoFonte;
                          text-transform: capitalize;
                          color: $corDoBotao;
                        }
                        button,input[type='submit']{
                                position: relative;
                                 /*bottom: -48px;*/
                                 width: 35vw;
                                 font-weight: bold;
                                 background-color: $corDoSubmit;
                                 color: white;
                                 z-index: 4;
                                 left: 50%;
                                 transform: translateX(-50%);
                                   }
                      button{
                             height: 9vh;
                             border: none;
                             border-radius: 1vw;
                             font-size: $tamanhoFonte;
                           }
                 }
            }
