@import"base.scss";

@media only screen and (min-width:0px) and ( max-width: 1000px){
    #formularioCTA{
              padding: 3vw;
              @include FormMobile(#67678c);
              ///background-color: #67678cb8;
              h1,h2,h3,h4
              {
                @include TituloMobile(white);
                margin-top: 3vh;
                margin-bottom: 3vh;
              }
              span{
                    display: block;
                    @include TextosMobile();
                    color:white;
                  }
             border:0px solid red;
             img{display: none;}
             background-image: linear-gradient(to bottom, #67678c, #a5a5de);
             /*background-image: linear-gradient(to bottom, white, purple);*/
    }
}



@media (min-width: 1001px){
                  #formularioCTA{
                    min-height: 364px;
                    position: relative;
                    color:#5D5C6B;
                    background-image: linear-gradient(#FAFBFC, #B5C1D4);
                    BORDER: 0PX SOLID green;
                    border-bottom: 6PX solid #5D5C6B;

                    #ctaTitle{
                      position: relative;
                      transform: translate(12.5vh, 5.5vh);
                      border: 0px solid red;
                      width: 83%;
                    }

                   #textoApresentacao{
                         position: relative;
                         left: 3.5vw;
                         top: 9.5vh;
                         display: flex;
                         width: 37vw;
                   }

                  div{
                    float: left;
                    height: auto;
                    display: block;
                  }

                  div:nth-child(1){
                    border: 0px solid green;
                    width: 43.3vw;
                  }
                                div:nth-child(2){
                                  border: 0px solid green;
                                  width: 31.8vw;
                                  position: relative;

                                          h2{
                                            margin-top: 12px;
                                            margin-left: 5px;
                                          }
                                          form{
                                              margin-top: 4.5vh;
                                              input{
                                                   display: block;
                                                   margin-bottom: 3px;
                                                   width: 26.7vw;
                                                   height: 50px;
                                                   margin-bottom: 34px;
                                                   border: 1px solid #8B8B8B;
                                                   border-radius: 10px;
                                                   padding-left: 20px;
                                                   font-size: 17px;
                                                   box-shadow: 7px 7px #00000033;
                                                   }
                                               button{
                                                  background-color: #FF8273;
                                                  color: white;
                                                  font-size: 17px;
                                                  width: 133px;
                                                  position: absolute;
                                                  top: 46.3vh;
                                                  left: 0vw;
                                                  height: 33px;
                                                  display: block;
                                                  text-align: center;
                                                  /*padding-top: 13px;*/
                                                  border-radius: 1vw;
                                                  border:none;
                                              }
                                        }


                                }

                                .imagem{
                                  border:0px solid red;
                                      img{
                                          position: absolute;
                                          top: -78px;
                                          z-index: 30;
                                          height: 442px;
                                      }
                                }
                  }
}
