@import"base.scss";
.menu{
//  margin-bottom: -16px;
}

.menuTopo{
  background-color: #494949;
  color: #D8D7DA;
  display: block;
  z-index: 49;
  a{color:white; text-decoration: none;}
  li{
    text-transform: capitalize;
    div{
      text-transform: none;
    }
  }
}



@media only screen and (min-width:0px) and ( max-width: 1000px){
  .menuTopo{
                padding-left: 2.8vw;
                width: 98.7%;
                position: relative;
                transform: translate(-1.6vw, -0.4vh);
                padding-top: 2vw;
                padding-bottom: 2vh;
                .closeMenu{display: none;}
                ul{
                       margin: 0;
                       padding: 0;
                       li{
                         font-size: 6vw;
                         margin-bottom: 2vw;
                         margin-top: 4vh;
                         text-align: center;
                               div{
                                    border: 0px solid red;
                                    margin-left: -1vw;
                                    padding: 1.5vw;
                                    line-height: 4.9vw;
                                    background-color: #ffffff1f;
                                    @include TextosMobile();
                                    color: white;
                                   /********************/

                                          ul{
                                              margin: 0;
                                              padding: 0;
                                              border: 0px solid red;
                                              overflow: auto;
                                                  li{
                                                         float: left;
                                                         width: 99%;
                                                         padding-bottom: 3vh;
                                                         padding-top: 2vh;
                                                         text-align: center;
                                                         font-size: 8vw;
                                                         border: 1px solid #292929;
                                                         background-color: #ffffff2b;
                                                         border-radius: 2vw;
                                                  }
                                             }
                                      picture{
                                        width: 100%;
                                        display: block;
                                        float: left;
                                        height: 64vh;
                                        overflow: hidden;
                                        border: 2px solid white;
                                        border-radius: 12px;
                                        margin-bottom: 2vh;
                                        position: relative;
                                                    img{
                                                           max-width: 100%;
                                                           position: absolute;
                                                           top: 50%;
                                                           left: 50%;
                                                           transform: translate(-50%,-50%);
                                                       }
                                             }
                                  }
                         }
                  }
            }
    }


/*@media only screen and (min-width:920px) and ( max-width: 1366px){*/
@media (min-width: 1001px){
                    /******************************/
                    /******************************/
                    @keyframes MenuAbre {
                        0%{
                               top: -342px;
                               opacity: 0;
                                 }
                        100% {
                               top: 28px;
                               left: 14px;
                               opacity: 1;
                             }
                    }
                    @keyframes MenuFecha {
                        0%{
                            top: 28px;
                            left: 14px;
                            opacity: 1;
                          }
                        100%{
                            top: -342px;
                            opacity: 0;
                            }
                    }
                    /******************************/
                    /******************************/

                    .menuAbre {
                                  animation: MenuAbre 2000ms forwards,
                              }
                    .MenuFecha{
                                 animation: MenuFecha 1500ms forwards,
                              }


                    .menuTopo{
                            position: fixed;
                            transform: translate(-1.6vw, -2.4vh);
                            width: 108%;
                          li{
                            float: left;
                            margin-right: 29px;
                            height: 26px;
                            position: relative;
                            padding-top: 12px;
                            text-transform: uppercase;
                            font-size: 1vw;


                            div{
                              position: ABSOLUTE;
                              opacity: 0;
                              top: -78vh;
                              left: 14px;
                              width: 54vw;
                              min-height: 7vh;
                              background-color: #494949;
                              z-index: 2;
                              padding: 0.5vw;
                              line-height: 23px;
                              box-shadow: 10px 10px 7px #0000007a;
                              border-bottom-left-radius: 6px;
                              border-bottom-right-radius: 6px;
                              padding-bottom: 20px;
                                     hr{
                                       display: block;
                                       width: 100%;
                                     }
                                     .row{
                                        width: 100%;
                                        margin-bottom: 32px;
                                        display: block;
                                      }
                                     p{
                                     border:0px solid red;
                                     width:70%;
                                     float: left;
                                     }
                                     picture{
                                            width: 26%;
                                            float: left;
                                            height: 40vh;
                                            overflow: hidden;
                                            border: 2px solid white;
                                            border-radius: 12px;
                                            img{
                                                  width: 100%;
                                               }
                                       }
                                     ul{
                                       li{
                                            width: 32%;
                                            float: left;
                                            margin-right: 4px!important;
                                            text-align: center;
                                        }
                                     }



                                     .closeMenu{
                                                border: 1px solid #6d6d6d;
                                                position: absolute;
                                                right: -23px;
                                                bottom: -18px;
                                                border-radius: 104px;
                                                padding: 8px;
                                                background-color: #ffffff96;
                                                color: black;
                                                font-size: 10px;
                                               }
                               }

                          }
                    }

}
