@import"base.scss";

@media only screen and (min-width:0px) and ( max-width: 1000px){
  #produtos{
        background-image: url(../../imagens/fundoServicos.jpg);
        background-attachment: fixed;
        BACKGROUND-POSITION: CENTER;
        padding: 3vw;
        border-top: 1px solid #7d7d7d;
        border-bottom: 1px solid #7d7d7d;

      h1, h2,h3{
        @include TituloMobile();
        margin-top: 2vh;
        margin-bottom: 2vh;
      }

      header{
               span{
                     display: block;
                     border:0px solid red;
                     margin-bottom: 3vh;
                  }
               @include TextosMobile();
            }

      section{
               p{@include TextosMobile();}
             }
        ul{
            margin: 0;
            padding: 0;
            li{
              border: 1px solid #585858a3;
              margin: 0;
              width: 93%;
              margin-bottom: 3vh;
              border-radius: 2vw;
              padding: 3vw;
              background-color: #ffffff8c;
                img{
                    width: 100%;
                    margin-bottom: 10px;
                  }
                  span{
                       @include TextosMobile();
                       display: block;
                      }
              }
          }
      }
}

@media (min-width: 1001px){
            #produtos{
              padding-top: 47px;
              border:0px solid red;
              background-image: url(../../imagens/fundoServicos.jpg);
              background-size: cover;
              min-height: 101.5vh;
              color:#5D5C6B;
              border-bottom: 6px solid black;
                    img{
                      margin-top: 19px;
                      position: relative;
                      left: 50%;
                      transform:translateX(-50%);
                    }

                   span{
                     display: block;
                     margin-top: 1vh;
                   }

                    header{
                           border:0px solid red;
                           width: 54.66vw;
                           position: relative;
                           left:50%;
                           transform: translatex(-50%);
                           background-color: white;
                           min-height: 137px;
                           height:auto;
                           overflow: auto;
                           padding: 16px;
                           border-radius: 2vw;
                           h2{
                              width: 100%;
                              display: block;
                              text-align: center;
                             }
                          }


                       ul{
                          border: 0px solid blue;
                          height: auto;
                          overflow: auto;
                          padding-left: 5.8vw;
                          margin-top: 5vh;
                         li{
                             border: 1px solid #969A9D;
                             display: inline-block;
                             float: left;
                             width: 17.92vw;
                             margin-right: 2.32vw;
                             height: 58.92vh;
                             border-radius: 1vw;
                             background-color: #ffffffa1;
                             padding-left: 16px;
                             padding-right: 16px;
                          }
                       }
            }
}
