@import"base.scss";

@media only screen and (min-width:0px) and ( max-width: 1000px){
  footer{
          border-top: 1px solid #a7a7a7;
          padding-top: 27vh;

          background-image: url(../../imagens/rodapeFundo.jpg);
          background-attachment: fixed;
          background-position-y: 12vh;
          background-size: cover;
          background-color: white;

          @include TextosMobile(3.3vh,white,6vw);





          ul{
            li{
                  width: 100%;
                  transform: translateX(-3vw);
                  text-transform: capitalize;
                  text-align: center;
                  height: 6VH;
                  font-size: 6vw;
                  padding-top: 2vh;
              }
          }

          h1,h2,h3{
            @include TituloMobile(white);
          }
          img{display: none;}

          div{
               @include Padding();
             }

        }
}

@media (min-width: 1001px){
            footer{
                background-image: url(../../imagens/rodapeFundo.jpg);
                min-height:404px;
                border: 0px solid red;
                display: flex;
                width: 99.876%;

              div{
                float: left;
                border:0px solid green;
                margin: 2px;
              }


              .contatoApresentacao{
                width: 46.8vw;
                font-size: 1.3vw;
                border: 0px solid red;

                    span{
                          width: 27vw;
                          background-color: #ffffff24;
                          display: block;
                          position: absolute;
                          z-index: 0;
                          left: 12.9vw;
                          top: 2vh;
                          padding-left: 3.5vw;
                          padding-right: 3.5vw;
                          border-radius: 1.5vw;
                          padding-top: 1.1vw;
                          padding-bottom: 2.5vw;
                          height: 42vh;
                          color: white;

                      title{
                        text-align: center;
                      }
                    }
              }






            .link,.links2{
              text-transform: capitalize;
            }


            .links{
              float: left;
              width: 300px;
              color:white;
                 h3{
                    transform: translate(9vw,14px);
                    margin-bottom: 23px;
                   }
                 ul{
                    transform: translate(6vw,5px);
                    li{
                        margin-bottom: 18px;
                      }
                   }
            }

            .links2{
              float: left;
              width: 300px;
              color:white;
                 h3{
                    transform: translate(7vw, 14px);
                    margin-bottom: 23px;
                   }
                 ul{
                    transform: translate(4vw,5px);
                    li{
                        margin-bottom: 18px;
                      }
                   }
            }










              .corretor{
                  position: absolute;
                  top: -20px;
                  z-index: 2;
                  left: 0.6vw;
              }

            }
}
